src/main/app/3_components.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <cxf:configuration name="CXF_Configuration" enableMuleSoapHeaders="true" initializeStaticBusInstance="true" doc:name="CXF Configuration"/>    
    <!-- <http:request-config name="HTTP_Request_Configuration1" host="www.webservicex.com" port="80" doc:name="HTTP Request Configuration"/> -->
    <flow name="components/cxf/simpleservice">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/components/cxf/simpleservice" doc:name="HTTP"/>        
        <cxf:simple-service  serviceClass="examples.components.SimpleService" doc:name="CXF" configuration-ref="CXF_Configuration"/>
        <component class="examples.components.SimpleServiceImpl" doc:name="Java"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="components/cxf/simpleclient">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/components/cxf/simpleclient" doc:name="HTTP"/>        
        <cxf:simple-client operation="sayGreetings" serviceClass="examples.components.SimpleService" doc:name="CXF"/>        
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="After calling simple service" level="INFO" doc:name="Logger"/>
    </flow>
    <!-- <flow name="components/cxf/proxyservice">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/components/cxf/proxyservice" doc:name="HTTP"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <cxf:proxy-service wsdlLocation="http://www.webservicex.com/globalweather.asmx?WSDL"  service="GlobalWeather" namespace="http://www.webserviceX.NET" configuration-ref="CXF_Configuration" doc:name="CXF" payload="body" port="GlobalWeatherSoap" />
        <cxf:proxy-client payload="body" doc:name="CXF" />
        <http:request config-ref="HTTP_Request_Configuration1" path="/globalweather" method="POST" doc:name="HTTP"/> 
        
        <http:outbound-endpoint exchange-pattern="request-response"
            host="www.webservicex.com" port="80"  path="globalweather.asmx" method="POST" doc:name="HTTP" />       
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow> -->
    <flow name="components/cxf/jaxwsservice">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/components/cxf/jaxwsservice" doc:name="HTTP"/>
        <cxf:jaxws-service configuration-ref="CXF_Configuration" serviceClass="examples.components.MyJAXWSService" doc:name="CXF"/>
        <component class="examples.components.MyJAXWSServiceImpl" doc:name="Java"/>
    </flow>
</mule>
