src/main/app/5_filters.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="/filters/payloadFilter" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/filters/payloadFilter" doc:name="HTTP"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <payload-type-filter expectedType="java.lang.String" doc:name="Payload"/>
        <logger message="Yes the payload type is String" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="/filters/expressionFilter">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/filters/expressionFilter" doc:name="HTTP"/>
        <!-- <set-payload value="Welcome to Expression Filter" doc:name="Set Payload"/> -->
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <expression-filter expression="#[payload.contains(&quot;Expression&quot;)]" nullReturnsTrue="true" doc:name="Expression"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="/filters/messagePropertyFilter">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/filters/messagePropertyFilter" doc:name="HTTP"/>
        <!-- <set-payload value="Welcome to Expression Filter" doc:name="Set Payload"/> -->
        <message-property-filter pattern="#[message.inboundProperties.'http.version'==&quot;HTTP/1.1&quot;]" caseSensitive="true" doc:name="Message Property"/>
        <logger message="Yup the filter condition satisfied bhy mule message" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
